<h2>Registration Page</h2>

<form method="get" action="Result">
    <p>First Name: </p><input name="firstName" required/>
    <br />
    <p>First Name: </p><input name="lastName"  required/>
    <br />
    <p>Phone Number: </p><input name="phone" type="tel" required />
    <br />
    <p>Email: </p><input name="email" type="email" required />
    <br />
    <p>Password: </p><input name="password" type="password" required/>
    <input type="submit" />
</form>